body {
  background: peachpuff;
}

* {
  display: flexbox;
}
.A {
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  column-width: 310px;
}
.B, .C, .d {
  border: 1px solid black;
    text-align: center;

    display:inline-block;
    column-width: 100px;

margin-top: 10px;
}

 .e,
 .f,
 .g {
   border: 1px solid black;
   text-align: center;

   display: inline-block;
   column-width: 100px;

   margin-top: 10px;
 }

 .h {
   border: 1px solid black;
   text-align: center;
   display: inline-block;
   column-width: 310px;
   margin-top: 10px;
 }
 


@media (width: 600px) {
  .children1 {
    flex-direction: column;
  }


}
